body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f4f6f8;
}

.navbar {
    background: #111827;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    
}

.nav-buttons button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 6px;
    margin-left: 6px;
    border-radius: 6px;
    margin-bottom: 6px;

}
.nav-buttons a {
    background: #2563eb;
    color: white;
    padding: 8px 6px;
    margin-right:6px;
    border-radius: 6px;
    text-decoration: none;
}


.container {
    padding: 20px;
    max-width: 1100px;
    margin: auto;

}

.search-bar input {
    padding: 10px;
    width: 70%;
    margin-bottom: 6px;

}

.search-bar button {
    padding: 10px;
    background: #16a34a;
    color: white;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;

}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;
}
.car:hover{
    transform: translate(-5px);
    /* cursor: pointer; */
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.fav-btn{
    padding: 6px;
    background: rgb(40, 114, 233);
    cursor: pointer;
    
    
}
.fav-btn:hover{
    background: rgb(167, 167, 221)
}
.dark{
    background:  #111;
    color:white;
    
}

.dark .card{
    background: #1f2937;
    color: white;
}

.skeleton{

    background: #e5e7eb;
    height: 200px;
    border-radius: 10px;
    animation: pulse 1.5s infinite;
}


@keyframes pulse{
    0%{opacity: 1}
   50%{opacity: 0.4}
 100%{opacity: 1}
}